/*Colors can be added with either classes or the variables below*/
/*Boilerplate. You can change fonts and default text/background colors here if needed */
* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

body {
  margin: 0;
  background-color: #F9F9F9; }

h1, h2, h3, h4, h5, h6, a, p {
  padding: 1em;
  color: #292929; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*OR ADD COLOURS WITH CLASSES*/
/*text colour*/
.light-grey {
  color: #F9F9F9; }

.dark-grey {
  color: #292929; }

.magenta {
  color: #E91E63; }

.red {
  color: #F44336; }

.orange {
  color: #FF5C1A; }

.yellow {
  color: #FFD530; }

.amber {
  color: #FEC006; }

.medium-green {
  color: #2A93FA; }

.emerald {
  color: #00B090; }

.teal {
  color: #00AAB0; }

.light-blue {
  color: #00C6EA; }

.medium-blue {
  color: #2A93FA; }

.dark-blue {
  color: #156BC3; }

/*background colors*/
.light-grey-bg {
  background-color: #F9F9F9; }

.dark-grey-bg {
  background-color: #292929; }

.magenta-bg {
  background-color: #E91E63; }

.red-bg {
  background-color: #F44336; }

.orange-bg {
  background-color: #FF5C1A; }

.yellow-bg {
  background-color: #FFD530; }

.amber-bg {
  background-color: #FEC006; }

.medium-green-bg {
  background-color: #2A93FA; }

.emerald-bg {
  background-color: #00B090; }

.teal-bg {
  background-color: #00AAB0; }

.light-blue-bg {
  background-color: #00C6EA; }

.medium-blue-bg {
  background-color: #2A93FA; }

.dark-blue-bg {
  background-color: #156BC3; }
