/* SANS-SERIF */
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$rubik: 'Rubik', sans-serif;

/* SERIF */
$merriweather: 'Merriweather', serif;
$roboto-slab: 'Roboto Slab', serif;

/* MONOSPACE */
$space-mono: 'Space Mono', monospace;

/* SCRIPT */
$lobster: 'Lobster', cursive;

/* DISPLAY */
$oswald: 'Oswald', sans-serif;
$abril-fatface: 'Abril Fatface', serif;
$playfair-display: 'Playfair Display', serif;


