/*Colors can be added with either classes or the variables below*/
$light-grey: #F9F9F9;
$dark-grey: #292929;
$magenta: #E91E63;
$red: #F44336;
$orange: #FF5C1A;
$yellow: #FFD530;
$amber: #FEC006;
$emerald: #00B090;
$medium-green: #2A93FA;
$teal: #00AAB0;
$light-blue: #00C6EA;
$medium-blue: #2A93FA;
$dark-blue: #156BC3;

$sans-serif: "Roboto", "Helvetica", "Arial", sans-serif;
$serif: serif;
$script: script;


/*Boilerplate. You can change fonts and default text/background colors here if needed */
* {
	font-family: $sans-serif;
}
body {
	margin: 0;
	background-color: $light-grey;

}

h1, h2, h3, h4, h5, h6, a, p {
	padding: 1em;
	color: $dark-grey;
}

a {
	text-decoration: none;
		&:hover {
			text-decoration: underline;
	}
}









/*OR ADD COLOURS WITH CLASSES*/
/*text colour*/
.light-grey {
	color: $light-grey;
}
.dark-grey {
	color: $dark-grey;
}
.magenta {
	color: $magenta;
}
.red {
	color: $red;
}
.orange {
	color: $orange;
}
.yellow {
	color: $yellow;
}
.amber {
	color: $amber;
}
.medium-green {
	color: $medium-green;
}
.emerald {
	color: $emerald;
}
.teal {
	color: $teal;
}
.light-blue {
	color: $light-blue;
}
.medium-blue {
	color: $medium-blue;
}
.dark-blue {
	color: $dark-blue;
}

/*background colors*/
.light-grey-bg {
	background-color: $light-grey;
}
.dark-grey-bg {
	background-color: $dark-grey;
}
.magenta-bg {
	background-color: $magenta;
}
.red-bg {
	background-color: $red;
}
.orange-bg {
	background-color: $orange;
}
.yellow-bg {
	background-color: $yellow;
}
.amber-bg {
	background-color: $amber;
}
.medium-green-bg {
	background-color: $medium-green;
}
.emerald-bg {
	background-color: $emerald;
}
.teal-bg {
	background-color: $teal;
}
.light-blue-bg {
	background-color: $light-blue;
}
.medium-blue-bg {
	background-color: $medium-blue;
}
.dark-blue-bg {
	background-color: $dark-blue;
}

